.column {
    height: 100%;
    border-right: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    width: 260px;
    display: flex;
    flex-direction: column;
}

.column:first-child {
    border-left: 1px solid var(--accent-color);
}

.column__title {
    padding: 16px 8px;
    border-bottom: 1px solid var(--accent-color);
    transition: background-color .2s ease-out, border-color .2s ease-out;
}

/* .column:hover .column__title {
    background-color: var(--accent-color);
    border-color: transparent;
} */

.column__items {
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
    height: 100%;
    flex: 1;
}

.column__items > * {
    margin-bottom: 12px;
}