.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header {
    font-size: 1.6rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}