.modal-content {}

.modal-content__title {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.modal-content__text {
    line-height: 1.5;
    margin-bottom: 32px;
}

.modal-content__deadline {
    font-size: .9rem;
}

.modal-meta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 8px;
    background-color: var(--regular-priority-color);
    font-size: .75rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 20px;
}

.modal-meta.high {
    background-color: var(--high-priority-color);
}

.modal-meta.low {
    background-color: var(--low-priority-color);
}

.modal-meta__left {
    display: flex;
    align-items: center;
}

.modal-meta__right button {
    padding: 0 8px;
    background-color: transparent;
    height: 100%;
    font-size: inherit;
    border-radius: 0;
    border-top: none;
    border-bottom: none;
}

.modal-meta__right button:last-child {
    border-right: none;
}