:root {
	--primary-color: #fff;
	--secondary-color: #000;
	--accent-color: rgba(255, 255, 255, .2);

	--low-priority-color: #4b4b4b;
	--regular-priority-color: #2f5d26;
	--high-priority-color: #a73030;

	--success-color: #2e911b;
	--warning-color: #cc9c17;
	--danger-color: #a13434;

	--border-radius: 2px;
}

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat Light"), local("Montserrat-Light"), url("./assets/fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("./assets/fonts/Montserrat/Montserrat-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url("./assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("./assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat Bold"), local("Montserrat-Bold"), url("./assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("./assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("./assets/fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("./assets/fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
	background: var(--secondary-color);
	color: var(--primary-color);
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
}

:focus-visible {
	outline: 1px solid white;
}

input:focus-visible {
	outline: 0;
}